# Telegram bot (BotFather'dan olinadi)
BOT_TOKEN=

# Trello API (https://trello.com/power-ups/admin)
TRELLO_API_KEY=
TRELLO_TOKEN=

# PostgreSQL ulanish manzili (Railway)
DATABASE_URL=postgresql://user:password@host:port/dbname

# Web admin panel
WEB_PORT=3000
WEB_SESSION_SECRET=
